USE [HotelBooking]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 9/20/2016 10:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[BOOKING_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NULL,
	[GUEST_NAME] [nvarchar](50) NULL,
	[GUEST_ADDRESS] [nvarchar](100) NULL,
	[GUEST_PHONENUMBER] [varchar](20) NULL,
	[GUEST_EMAI] [varchar](100) NULL,
	[BOOKING_DESCRIPTION] [nvarchar](500) NOT NULL,
	[BOOKING_DT] [datetime] NOT NULL,
	[BOOKING_STATUS] [nvarchar](20) NOT NULL,
	[ACT_BOOKING] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[BOOKING_DETAIL]    Script Date: 9/20/2016 10:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_DETAIL](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[BOOKING_DETAIL_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ROOM_ID] [decimal](18, 0) NOT NULL,
	[BOOKING_ID] [decimal](18, 0) NOT NULL,
	[CHECK_IN_DATE] [datetime] NOT NULL,
	[CHECK_OUT_DATE] [datetime] NOT NULL,
	[BOOKING_PRICE] [float] NOT NULL,
	[BOOKING_POINT] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_BOOKING_DETAIL] PRIMARY KEY CLUSTERED 
(
	[BOOKING_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CITY]    Script Date: 9/20/2016 10:37:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[CITY_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[CITY_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DATA_AUTHORIZATION]    Script Date: 9/20/2016 10:37:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_AUTHORIZATION](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[MANAGE_HOTEL_FUNCTION_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[HOTEL_ID] [decimal](18, 0) NOT NULL,
	[PERMISSION_FLG] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_DATA_AUTHORIZATION] PRIMARY KEY CLUSTERED 
(
	[MANAGE_HOTEL_FUNCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 9/20/2016 10:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[CITY_ID] [decimal](18, 0) NOT NULL,
	[DISTRICT_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[DISTRICT_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 9/20/2016 10:37:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[FEEDBACK_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEL_ID] [decimal](18, 0) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[RATING_SUBJECT] [nvarchar](500) NOT NULL,
	[RATING_DESCRIPTION] [nvarchar](max) NOT NULL,
	[LOCATION_POINT] [decimal](18, 0) NOT NULL,
	[ATTITUDE_POINT] [decimal](18, 0) NOT NULL,
	[SERVICES_POINT] [decimal](18, 0) NOT NULL,
	[PRICE_POINT] [decimal](18, 0) NOT NULL,
	[CLEANING_POINT] [decimal](18, 0) NOT NULL,
	[AVERAGE_POINT] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_HOTEL_RATING] PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[FUNCTION]    Script Date: 9/20/2016 10:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTION](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[FUNCTION_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[FUNCTION_CODE] [varchar](20) NOT NULL,
	[FUNCTION_NAME] [nvarchar](50) NOT NULL,
	[FUNCTION_URL] [varchar](500) NOT NULL,
 CONSTRAINT [PK_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[FUNCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[FUNCTION_AUTHORIZATION]    Script Date: 9/20/2016 10:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTION_AUTHORIZATION](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[USER_FUNCTION_RIGHT_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[FUNCTION_ID] [decimal](18, 0) NOT NULL,
	[C_FLG] [bit] NOT NULL,
	[R_FLG] [bit] NOT NULL,
	[U_FLG] [bit] NOT NULL,
	[D_FLG] [bit] NOT NULL,
 CONSTRAINT [PK_FUNCTION_AUTHORIZATION] PRIMARY KEY CLUSTERED 
(
	[USER_FUNCTION_RIGHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 9/20/2016 10:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[HOTEL_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEL_NAME] [nvarchar](200) NOT NULL,
	[HOTEL_STAR] [decimal](18, 0) NOT NULL,
	[HOTEL_DESCRIPTION] [nvarchar](max) NOT NULL,
	[HOTEL_ADDRESS] [nvarchar](200) NOT NULL,
	[LOCATION_ID] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_HOTEL] PRIMARY KEY CLUSTERED 
(
	[HOTEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[HOTEL_ROOM]    Script Date: 9/20/2016 10:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL_ROOM](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[ROOM_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ROOM_NAME] [nvarchar](100) NOT NULL,
	[ROOM_TYPE] [nvarchar](100) NOT NULL,
	[HOTEL_ID] [decimal](18, 0) NOT NULL,
	[COST] [float] NOT NULL,
	[ROOM_DESCRIPTION] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_HOTEL_ROOM] PRIMARY KEY CLUSTERED 
(
	[ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 9/20/2016 10:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[DISTRICT_ID] [decimal](18, 0) NOT NULL,
	[LOCATION_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[LOCATION_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LOG_ACTIONS_USER]    Script Date: 9/20/2016 10:38:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_ACTIONS_USER](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[LOG_ACTION_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[PC_NAME] [varchar](250) NOT NULL,
	[PC_IP] [varchar](20) NOT NULL,
	[ACT_NAME] [varchar](500) NOT NULL,
	[ACT_DT] [datetime] NOT NULL,
	[SQL] [varchar](500) NOT NULL,
 CONSTRAINT [PK_LOG_ACTIONS_USER] PRIMARY KEY CLUSTERED 
(
	[LOG_ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ROOM_SERVICE]    Script Date: 9/20/2016 10:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM_SERVICE](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[ROOM_SERVICE_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ROOM_ID] [decimal](18, 0) NOT NULL,
	[SERVICE_ID] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_ROOM_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ROOM_SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 9/20/2016 10:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[SERVICES_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[SERVICES_NAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_HOTEL_SERVICE] PRIMARY KEY CLUSTERED 
(
	[SERVICES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SESSION_LOGIN_LOGOUT]    Script Date: 9/20/2016 10:38:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION_LOGIN_LOGOUT](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[LOGIN_INFO_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_ID] [decimal](18, 0) NOT NULL,
	[LOGIN_DT] [datetime] NOT NULL,
	[LOGOUT_DT] [datetime] NULL,
	[IS_ONLINE] [bit] NOT NULL,
	[SESSION_ID] [nvarchar](250) NOT NULL,
	[PC_NAME] [nvarchar](250) NOT NULL,
	[PC_IP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SESSION_LOGIN_LOGOUT] PRIMARY KEY CLUSTERED 
(
	[LOGIN_INFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 9/20/2016 10:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SYSTEM_SETTING]    Script Date: 9/20/2016 10:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_SETTING](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [timestamp] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[SYSTEM_CONFIG_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SYSTEM_SETTING] PRIMARY KEY CLUSTERED 
(
	[SYSTEM_CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[USER_INFORMATION]    Script Date: 9/20/2016 10:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_INFORMATION](
	[ACTFLG] [bit] NOT NULL,
	[CTDUSR] [varchar](100) NOT NULL,
	[CTDWKS] [varchar](200) NOT NULL,
	[CTDPGM] [nvarchar](200) NOT NULL,
	[CTD_DT] [datetime] NOT NULL,
	[MDFUSR] [varchar](100) NULL,
	[MDFWKS] [varchar](200) NULL,
	[MDFPGM] [nvarchar](200) NULL,
	[LSTMDF] [datetime] NULL,
	[USER_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[DEPARTMENT_ID] [decimal](18, 0) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[PHONE_NUMBER] [decimal](18, 0) NULL,
	[BIRTHDAY] [datetime] NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](30) NULL,
	[ZIP_CODE] [varchar](10) NULL,
	[COUNTRY] [nvarchar](30) NULL,
	[USER_POINT] [decimal](18, 0) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NULL,
 CONSTRAINT [PK_USER_INFORMATION] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_USER_INFORMATION]
GO
ALTER TABLE [dbo].[BOOKING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_DETAIL_BOOKING] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
GO
ALTER TABLE [dbo].[BOOKING_DETAIL] CHECK CONSTRAINT [FK_BOOKING_DETAIL_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_DETAIL_HOTEL_ROOM] FOREIGN KEY([ROOM_ID])
REFERENCES [dbo].[HOTEL_ROOM] ([ROOM_ID])
GO
ALTER TABLE [dbo].[BOOKING_DETAIL] CHECK CONSTRAINT [FK_BOOKING_DETAIL_HOTEL_ROOM]
GO
ALTER TABLE [dbo].[DATA_AUTHORIZATION]  WITH CHECK ADD  CONSTRAINT [FK_DATA_AUTHORIZATION_HOTEL] FOREIGN KEY([HOTEL_ID])
REFERENCES [dbo].[HOTEL] ([HOTEL_ID])
GO
ALTER TABLE [dbo].[DATA_AUTHORIZATION] CHECK CONSTRAINT [FK_DATA_AUTHORIZATION_HOTEL]
GO
ALTER TABLE [dbo].[DATA_AUTHORIZATION]  WITH CHECK ADD  CONSTRAINT [FK_DATA_AUTHORIZATION_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[DATA_AUTHORIZATION] CHECK CONSTRAINT [FK_DATA_AUTHORIZATION_USER_INFORMATION]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_CITY] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[CITY] ([CITY_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_DISTRICT_CITY]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_HOTEL] FOREIGN KEY([HOTEL_ID])
REFERENCES [dbo].[HOTEL] ([HOTEL_ID])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_HOTEL]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_USER_INFORMATION]
GO
ALTER TABLE [dbo].[FUNCTION_AUTHORIZATION]  WITH CHECK ADD  CONSTRAINT [FK_FUNCTION_AUTHORIZATION_FUNCTION] FOREIGN KEY([FUNCTION_ID])
REFERENCES [dbo].[FUNCTION] ([FUNCTION_ID])
GO
ALTER TABLE [dbo].[FUNCTION_AUTHORIZATION] CHECK CONSTRAINT [FK_FUNCTION_AUTHORIZATION_FUNCTION]
GO
ALTER TABLE [dbo].[FUNCTION_AUTHORIZATION]  WITH CHECK ADD  CONSTRAINT [FK_FUNCTION_AUTHORIZATION_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[FUNCTION_AUTHORIZATION] CHECK CONSTRAINT [FK_FUNCTION_AUTHORIZATION_USER_INFORMATION]
GO
ALTER TABLE [dbo].[HOTEL]  WITH CHECK ADD  CONSTRAINT [FK_HOTEL_LOCATION] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[HOTEL] CHECK CONSTRAINT [FK_HOTEL_LOCATION]
GO
ALTER TABLE [dbo].[HOTEL_ROOM]  WITH CHECK ADD  CONSTRAINT [FK_HOTEL_ROOM_HOTEL] FOREIGN KEY([HOTEL_ID])
REFERENCES [dbo].[HOTEL] ([HOTEL_ID])
GO
ALTER TABLE [dbo].[HOTEL_ROOM] CHECK CONSTRAINT [FK_HOTEL_ROOM_HOTEL]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_LOCATION_DISTRICT] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[DISTRICT] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FK_LOCATION_DISTRICT]
GO
ALTER TABLE [dbo].[LOG_ACTIONS_USER]  WITH CHECK ADD  CONSTRAINT [FK_LOG_ACTIONS_USER_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[LOG_ACTIONS_USER] CHECK CONSTRAINT [FK_LOG_ACTIONS_USER_USER_INFORMATION]
GO
ALTER TABLE [dbo].[ROOM_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_SERVICE_HOTEL_ROOM] FOREIGN KEY([ROOM_ID])
REFERENCES [dbo].[HOTEL_ROOM] ([ROOM_ID])
GO
ALTER TABLE [dbo].[ROOM_SERVICE] CHECK CONSTRAINT [FK_ROOM_SERVICE_HOTEL_ROOM]
GO
ALTER TABLE [dbo].[ROOM_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_SERVICE_SERVICE] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([SERVICES_ID])
GO
ALTER TABLE [dbo].[ROOM_SERVICE] CHECK CONSTRAINT [FK_ROOM_SERVICE_SERVICE]
GO
ALTER TABLE [dbo].[SESSION_LOGIN_LOGOUT]  WITH CHECK ADD  CONSTRAINT [FK_SESSION_LOGIN_LOGOUT_USER_INFORMATION] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_INFORMATION] ([USER_ID])
GO
ALTER TABLE [dbo].[SESSION_LOGIN_LOGOUT] CHECK CONSTRAINT [FK_SESSION_LOGIN_LOGOUT_USER_INFORMATION]
GO
